<ion-view title="Add Card">
  <ion-content padding="true" class="has-header">
<!--
    <div>
      <p style="text-align:center;">
        Enter Barcode
      </p>
    </div>
-->

<!--
    <label class="item item-input">
      <input type="text" ng-model="newCard.barcode.value">
    </label>
-->

    <div>
      <p style="text-align:center;margin-top:25px;">
        Scan
      </p>
    </div>

    <div id="barcode-image" barcode-image barcode-value="newCard.barcode.value" barcode-format="newCard.barcode.format"></div>

    <button class="button button-stable button-block" ng-click="scanBarcode()">Scan Barcode</button>
    <button class="button button-stable button-block" ng-click="next()">Next</button>
  </ion-content>
</ion-view>
