<ion-view title="Discount Cards">
  <ion-nav-buttons side="right">
    <button class="button button-icon icon-left ion-android-add" ng-click="addCard()">Add Card</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <form class="list"></form>
    <ion-list>
      <ion-item class="item-thumbnail-left" href="#/comfy_discount">
        <img src="/img/avatar-img.png">
        <h2>Comfy</h2>
        <p>3% discount</p>
      </ion-item>
      <ion-item class="item-thumbnail-left">
        <img src="/img/avatar-img.png">
        <h2>Fozzi</h2>
        <p>2%</p>
      </ion-item>
      <ion-item class="item-thumbnail-left">
        <img src="/img/avatar-img.png">
        <h2>Brocard</h2>
        <p>5%</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
