<ion-view title="Discount Cards">
  <ion-nav-buttons side="right">
    <button class="button button-icon icon-left ion-android-edit">Edit Card</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
<!--
    <form class="list"></form>
    <ion-list>
      <ion-item ng-repeat="card in cardsList" class="item-thumbnail-left" href="#">
        <img ng-src="card.cardPhoto">
        <h2>{{ card.name }}</h2>
        <p>{{ card.description }}</p>
      </ion-item>
    </ion-list>
-->
    {{cardName}}
  </ion-content>
</ion-view>
